body {
    margin: 0;
    font-family: Arial;
    background: #f5f6fa;
}

.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 200px;
    background: #030600;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
    cursor: pointer;
}

/* Main */
.main {
    flex: 1;
    padding: 20px;
}

/* Cards */
.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Chart */
.chart {
    background: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

/* Table */
.table {
    background: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

img {
    width: 50px;
}